.about {
  padding: 3rem 2rem;
  background-color: var(--bg-color-about);
  color: var(--text-color);
  opacity: 0;              /* start hidden */
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}


.visible {
  opacity: 1;
  transform: translateY(0);
}

.about h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.content {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.text {
  max-width: 800px;
}

.about p {
  max-width: 1000px;
  margin: 0 auto 1rem auto;
  line-height: 1.8; /* increased spacing for readability */
  text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
  .content {
    text-align: center;
  }

  .text {
    max-width: 100%;
  }
}

section {
  scroll-margin-top: 80px; /* or whatever your navbar height is */
}
