:root {
  --navbar-bg-color: #121212; 
  --text-color: #ffffff;      
}

.header {
  position: sticky;
  top: 0;
  background-color: var(--navbar-bg-color);
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
  z-index: 100;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
}

.nav {
  display: flex;
  gap: 2rem;
  font-weight: 600;
}

.nav a {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

.nav a:hover {
  text-decoration: underline;
}
