.hero {
  display: flex;
  flex-direction: column;     
  justify-content: center;     
  align-items: center;        
  height: 200px;               
  padding: 3rem 2rem;
  background-color: var(--bg-color-hero); 
  color: var(--text-color);
  border-bottom: 1px solid #444;
  text-align: center;
  gap: 1.5rem;                
}

.profilePic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.name {
  font-size: 3rem;
  font-weight: 700;
}

/* Responsive */
@media (max-width: 600px) {
  .hero {
    padding: 2rem 1rem;
  }

  .profilePic {
    width: 100px;
    height: 100px;
  }

  .name {
    font-size: 2.2rem;
    margin-top: 1rem;
  }
}
